.section-header {
    padding: 10px;
    background-color: #454d5d;
    position: fixed;
    z-index: 200;
    top: 0;
    width: 100%;

}

.btn.btn-link {
    color: #ffffff;
}
.bg-grey {
   background-color:  #f8f9fa;
    padding: 1rem;
}
.overview {
    position: relative;
    z-index: 300;
}
.overview-title {
    font-size: 3.2rem;
    font-weight: 400;
}
.overview-subtitle {
    font-size: 1.8rem;
}
.grid-hero {
    margin-bottom: 4rem;
    margin-top: 10rem;
}

.grid-hero h2 u {
    border-bottom: .2rem solid black;
    padding-bottom: .1rem;
    text-decoration: none;
}

.nav-padding {
    padding-top: 100px;
}